@import url('./styles/nav.css');
@import url('./styles/cover.css');
@import url('./styles/buttons.css');
@import url('./styles/section.css');
@import url('./styles/footer.css');
@import url('./styles/icons.css');


body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:focus{
    outline: 0;
}

a{
    text-decoration: none;
}